header{
    text-align:center;

    display:flex;
    flex-direction:column;
    gap:12px;
}

.header__title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;

    font-size:2rem;
    color:#2563eb;
}

.header__subtitle{
    color:#6b7280;
    font-size:1rem;
}